<div class="px-4 pt-4 pb-12 w-full flex flex-col justify-center items-center gap-6">
    <div class="bg-base-200 rounded-lg mt-2 py-4">
        <p class="text-xl font-bold text-center pb-4">こう思ったことはありませんか？</p>
        <div class="lg:flex">
            <div class="chat chat-start">
                <div class="chat-image avatar">
                    <div class="w-20">
                        <%= image_tag "top/shinpai_man.png" %>
                    </div>
                </div>
                <div class="chat-bubble bg-red-100">
                    <p>家族の健康が心配すぎる。</p>
                    <p>いらんもの食べてないか見張りたい！</p>
                </div>
            </div>
            <div class="chat chat-end">
                <div class="chat-image avatar">
                    <div class="w-20">
                        <%= image_tag "top/biyou_nijuuago.png" %>
                    </div>
                </div>
                <div class="chat-bubble bg-orange-100">
                    <p>ダイエットしたいけどつい食べちゃう…</p>
                    <p>だれか私を監視してくれー！</p>
                </div>
            </div>
        </div>
    </div>
    <h1 class="text-2xl font-bold text-accent">「ぷに活監視システム」で、家族・友人にダイエットを監視してもらおう！</h1>
    <div class="flex flex-col lg:flex-row gap-4">
        <div class="card bg-neutral-500 w-full lg:w-1/3 shadow-xl">
            <div class="flex gap-2 p-4 font-bold">
                <h2 class="text-2xl">①</h2>
                <h2>１対１～３人で連携し、ダイエットしたい人を見張ることができます。</h2>
            </div>
            <figure class="bg-white">
                <%= image_tag "top/introduction1.png" %>
            </figure>
            <div class="p-4"></div>
        </div>
        <div class="card bg-neutral-500 w-full lg:w-1/3 shadow-xl">
            <div class="flex gap-2 p-4 font-bold">
                <h2 class="text-2xl">②</h2>
                <h2>
                    <p>監視される側は、食事を写真で記録します。</p>
                    <p>監視する側は、スタンプ・コメントでリアクションしましょう！</P>
                </h2>
            </div>
            <figure class="bg-white">
                <%= image_tag "top/introduction2.png" %>
            </figure>
            <div class="p-4">
                <div class="chat chat-end">
                    <div class="chat-image avatar">
                        <div class="w-10 rounded-full bg-white">
                            <%= image_tag "top/biyou_nijuuago.png" %>
                        </div>
                    </div>
                    <div class="chat-bubble bg-orange-100">スタンプで怒られると、画面が埋まって無言の圧を感じる…</div>
                </div>
            </div>
        </div>
        <div class="card bg-neutral-500 w-full lg:w-1/3 shadow-xl">
            <div class="flex gap-2 p-4 font-bold">
                <h2 class="text-2xl">③</h2>
                <h2>監視する側へ、投稿忘れのリマインド・投稿通知をLINEで送信します。</h2>
            </div>
            <figure class="bg-white">
                <%= image_tag "top/introduction3.png", class:"w-1/2" %>
            </figure>
            <div class="p-4">
                <div class="chat chat-start">
                    <div class="chat-image avatar">
                        <div class="w-10 rounded-full bg-white">
                            <%= image_tag "top/shinpai_man.png" %>
                        </div>
                    </div>
                    <div class="chat-bubble bg-red-100">
                        <p>更新があったらリアクションしに行こう。</p>
                        <p>記録をサボっていたら声をかけてあげよう。</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div>
        <%= link_to "はじめる！", new_user_path, class: "fixed bottom-0 inset-x-0 btn btn-accent text-xl font-bold z-50" %>
    </div>
</div>