<div class="px-4 pt-4 pb-12 w-full flex flex-col justify-center items-center gap-6">
    <div class="mt-2">
        <p class="text-xl font-bold text-center pb-4">こう思ったことはありませんか？</p>
        <div class="lg:flex">
            <div class="chat chat-start">
                <div class="chat-image avatar">
                    <div class="w-20">
                        <%= image_tag "top/shinpai_man.png" %>
                    </div>
                </div>
                <div class="chat-bubble bg-red-100">
                    <p>家族の健康が心配すぎる。</p>
                    <p>いらんもの食べてないか見張りたい！</p>
                </div>
            </div>
            <div class="chat chat-end">
                <div class="chat-image avatar">
                    <div class="w-20">
                        <%= image_tag "top/biyou_nijuuago.png" %>
                    </div>
                </div>
                <div class="chat-bubble bg-orange-100">
                    <p>ダイエットしたいけどつい食べちゃう…</p>
                    <p>だれか私を監視してくれー！</p>
                </div>
            </div>
        </div>
    </div>
    <div class="flex flex-col items-center gap-4 bg-base-200 rounded-lg p-6">
        <h1 class="text-2xl font-bold text-primary">「ぷに活監視システム」で、家族・友人にダイエットを監視してもらおう！</h1>
        <div class="flex flex-col gap-2 sm:flex-row sm:gap-24">
            <%= link_to "新規登録", new_user_path, class: "btn btn-lg btn-accent drop-shadow-lg" %>
            <%= link_to 'ゲストログイン(機能のお試し)', '/guest_login', data: { turbo_method: :post }, class:"btn btn-secondary drop-shadow-lg sm:btn-lg" %>
        </div>
    </div>
    <div class="flex flex-col lg:flex-row gap-4">
        <div class="card bg-neutral-500 w-full lg:w-1/3 shadow-lg">
            <div class="flex gap-2 p-4 font-bold">
                <h2 class="text-2xl">①</h2>
                <h2>１対１～３人で連携し、ダイエットしたい人を見張ることができます。</h2>
            </div>
            <div class="flex flex-col gap-4">
                <figure class="h-48">
                    <%= image_tag "top/introduction1.png", class:"h-full" %>
                </figure>
                <div class="flex flex-col">
                    <div class="text-center font-bold">機能の使い方</div>
                    <div class="carousel mx-4 bg-white text-black">
                        <div id="item1-1" class="carousel-item w-full flex flex-col gap-1 p-2 box-border border-4 border-slate-300">
                            <h3>新規登録</h3>
                            <ul>
                                <li>
                                    <p>フォームを入力し「登録」すると、登録されたメールアドレスに認証用メールを送信します。</p>
                                    <p>届いたメールに記載のURLをクリックすることで、メールアドレス認証が完了し、ログインできるようになります。</p>
                                </li>
                                <li>
                                    <p>＜おすすめ＞LINEでログインすることができます。</p>
                                    <p>なお、LINE公式アカウントと友達になることで、監視側に通知（投稿時・リマインド）を送信できるようになります。</p>
                                </li>
                            </ul>
                        </div>
                        <div id="item1-2" class="carousel-item w-full flex flex-col gap-1 p-2 box-border border-4 border-slate-300">
                            <h3>ユーザー同士の連携①</h3>
                            <ul>
                                <li>
                                    <p>「連携する」で「連携の設定」に移動できます。</p>
                                    <p>※2人目以上の連携は右上のマーク＞「連携の設定」から開くことが出来ます。</p>
                                </li>
                            </ul>
                        </div>
                        <div id="item1-3" class="carousel-item w-full flex flex-col gap-1 p-2 box-border border-4 border-slate-300">
                            <h3>ユーザー同士の連携②</h3>
                            <ul>
                                <li>現在連携しているユーザーが一覧で表示されます。</li>
                                <li>
                                    <p>「連携コードがないので発行する」</P>
                                    <p>担当したい役割を「監視する（監視側）」「監視される（監視される側）」から選択し「発行」します。</p>
                                    <p>表示されるコードを連携したいパートナーに共有しましょう。</p>
                                </li>
                                <li>
                                    <p>「連携コードあり」</p>
                                    <p>パートナーから連携コードを既に共有されている場合、フォームに入力し「登録」することでユーザー同士の連携が完了します。</p>
                                </li>
                            </ul>
                        </div>
                        <div id="item1-4" class="carousel-item w-full flex flex-col gap-1 p-2 box-border border-4 border-slate-300">
                            <h3>ユーザー同士の連携③</h3>
                            <ul>
                                <li>※監視側同士、監視する側同士では連携できません。</li>
                                <li>※連携できるユーザーの数には上限があり、監視される側１人に対し監視側は３人までです。</li>
                                <li>※連携しているユーザーが既にいる場合、役割を変更することはできません。役割を変更したい場合は一度すべての連携を解除してください。</li>
                            </ul>
                        </div>
                    </div>
                    <div class="flex w-full justify-center gap-2 py-2">
                        <a href="#item1-1" class="btn btn-xs btn-neutral">1</a>
                        <a href="#item1-2" class="btn btn-xs btn-neutral">2</a>
                        <a href="#item1-3" class="btn btn-xs btn-neutral">3</a>
                        <a href="#item1-4" class="btn btn-xs btn-neutral">4</a>
                    </div>
                </div>
                <div class="p-4"></div>
            </div>
        </div>
        <div class="card bg-neutral-500 w-full lg:w-1/3 shadow-lg">
            <div class="flex gap-2 p-4 font-bold">
                <h2 class="text-2xl">②</h2>
                <h2>
                    <p>監視される側は、食事を写真で記録します。</p>
                    <p>監視する側は、スタンプ・コメントでリアクションしましょう！</P>
                </h2>
            </div>
            <div class="flex flex-col gap-4">
                <figure class="h-48">
                    <%= image_tag "top/introduction2.png", class:"sm:h-full" %>
                </figure>
                <div class="flex flex-col">
                    <div class="text-center font-bold">機能の使い方</div>
                    <div class="carousel mx-4 bg-white text-black">
                        <div id="item2-1" class="carousel-item w-full flex flex-col gap-1 p-2 box-border border-4 border-slate-300">
                            <h3>記録機能</h3>
                            <ul>
                                <li>「投稿する」から食事の画像を記録することができます。</li>
                            </ul>
                        </div>
                        <div id="item2-2" class="carousel-item w-full flex flex-col gap-1 p-2 box-border border-4 border-slate-300">
                            <h3>スタンプ・スコア機能</h3>
                            <ul>
                                <li>食事の記録に対して、監視側はスタンプを送ってリアクションできます。</li>
                                <li>監視される側には、監視側からのスタンプの集計を基に算出された日別のスコアが表示されます。</li>
                            </ul>
                        </div>
                        <div id="item2-3" class="carousel-item w-full flex flex-col gap-1 p-2 box-border border-4 border-slate-300">
                            <h3>コメント機能</h3>
                            <ul>
                                <li>食事の記録に対してコメントができ、交流することができます。</li>
                            </ul>
                        </div>
                    </div>
                    <div class="flex w-full justify-center gap-2 py-2">
                        <a href="#item2-1" class="btn btn-xs btn-neutral">1</a>
                        <a href="#item2-2" class="btn btn-xs btn-neutral">2</a>
                        <a href="#item2-3" class="btn btn-xs btn-neutral">3</a>
                    </div>
                </div>
            </div>
            <div class="p-4">
                <div class="chat chat-end">
                    <div class="chat-image avatar">
                        <div class="w-10 rounded-full bg-white">
                            <%= image_tag "top/biyou_nijuuago.png" %>
                        </div>
                    </div>
                    <div class="chat-bubble bg-orange-100">スタンプで怒られると、画面が埋まって無言の圧を感じる…</div>
                </div>
            </div>
        </div>
        <div class="card bg-neutral-500 w-full lg:w-1/3 shadow-lg">
            <div class="flex gap-2 p-4 font-bold">
                <h2 class="text-2xl">③</h2>
                <h2>監視する側へ、投稿忘れのリマインド・投稿通知をLINEで送信します。</h2>
            </div>
            <div class="flex flex-col gap-4">
                <figure class="h-48">
                    <%= image_tag "top/introduction3.png", class:"h-full" %>
                </figure>
                <div class="flex flex-col">
                    <div class="text-center font-bold">機能の使い方</div>
                    <div class="carousel mx-4 bg-white text-black">
                        <div id="item3-1" class="carousel-item w-full flex flex-col gap-1 p-2 box-border border-4 border-slate-300">
                            <h3>LINE通知機能</h3>
                            <ul>
                                <li>LINEで登録（新規登録後にLINE連携も可能）、かつLINE公式アカウントと友達になることで、監視側に以下の通知を送信します。</li>
                            </ul>
                        </div>
                    </div>
                    <div class="flex w-full justify-center gap-2 py-2">
                        <a href="#item3-1" class="btn btn-xs btn-neutral">1</a>
                    </div>
                </div>
            </div>
            <div class="p-4">
                <div class="chat chat-start">
                    <div class="chat-image avatar">
                        <div class="w-10 rounded-full bg-white">
                            <%= image_tag "top/shinpai_man.png" %>
                        </div>
                    </div>
                    <div class="chat-bubble bg-red-100">
                        <p>更新があったらリアクションしに行こう。</p>
                        <p>記録をサボっていたら声をかけてあげよう。</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="flex flex-col items-center gap-4 bg-base-200 rounded-lg p-6">
        <h1 class="text-2xl font-bold text-primary">「ぷに活監視システム」で、家族・友人にダイエットを監視してもらおう！</h1>
        <div class="flex flex-col gap-2 sm:flex-row sm:gap-24">
            <%= link_to "新規登録", new_user_path, class: "btn btn-lg btn-accent drop-shadow-lg" %>
            <%= link_to 'ゲストログイン(機能のお試し)', '/guest_login', data: { turbo_method: :post }, class:"btn btn-secondary drop-shadow-lg sm:btn-lg" %>
        </div>
    </div>
</div>