<h3><%= t('.title') %></h3>
<%= form_with model: @user, url: password_reset_path(@token) do |f| %>
    <%= render 'shared/error_message', object: f.object %>
	<%= f.label :email %>
    <%= @user.email %>

    <%= f.label :password %>
    <%= f.password_field :password, class:"input input-bordered" %>

    <%= f.label :password_confirmation %>
    <%= f.password_field :password_confirmation, class:"input input-bordered" %>

    <%= f.submit t('helpers.submit.update'), class:"btn" %>
<% end %>
