<tr id="<%= dom_id comment %>" class="w-full">
    <td class="w-2/12 py-0 px-1"><%= comment.user.name%></td>
    <td class="w-6/12 py-0 px-1"><%= comment.body %></td>
    <td class="w-2/12 py-0 px-1"><%= l comment.created_at %></td>
    <% if current_user == comment.user%>
        <td class="w-1/12 p-1">
            <%= link_to comment_path(comment), data: { turbo_method: :delete, turbo_confirm: t('activerecord.models.comment') + t('helpers.message.delete_confirm')} do %>
                <i class="fa-solid fa-trash-can w-4 h-auto"></i>
            <% end %>
        </td>
    <% end %>
</tr>
