<div id="comment-form-<%= dom_id record %>" class ="w-full">
    <%= form_with model: comment, url: record_comments_path(record) do |f| %>
        <%= render 'shared/error_message' , object: f.object %>
        <div class="flex items-center gap-2 w-full">
            <%= f.text_field :body, placeholder: t('.placeholder'), class: "input input-bordered flex-1" %>
            <%= f.submit t('helpers.submit.submit'), class: "btn btn-secondary" %>
        </div>
    <% end %>
</div>