<div class="flex flex-col items-center py-4">
    <h1 class="text-xl font-bold underline decoration-2 underline-offset-2"><%= t('.title') %></h1>
    <div class="flex flex-col items-center gap-3 w-full">
        <div class="flex flex-col items-center pt-4 gap-3 w-full sm:w-1/2">
            <h2 class="text-lg"><%= t('.relate_user') %></h2>
            <table class="table bg-orange-100 text-black">
                <% if current_user.related? %>
                    <% if current_user.monitor? %>
                        <tr>
                            <td><%= @monitored_user.name %></td>
                            <td class="text-right"><%= link_to t('helpers.submit.release'), relationship_path(current_user.relationship), data: { turbo_method: :delete, turbo_confirm: @monitored_user.name + t('helpers.message.disengage_confirm')}, class: "btn btn-sm" %></td>
                        </tr>
                    <% else %>
                        <% @monitor_users.each do |user| %>
                            <tr>
                                <td><%= user.name %></td>
                                <td class="text-right"><%= link_to t('helpers.submit.release'), relationship_path(user.relationship), data: { turbo_method: :delete, turbo_confirm: user.name + t('helpers.message.disengage_confirm')}, class: "btn btn-sm" %></td>
                            </tr>
                        <% end %>
                    <% end %>
                <% else %>
                    <p class="text-center text-red-600"><%= t(".no_relationship") %></p>
                <% end %>
            </table>
        </div>
        <div class="flex flex-col items-center pt-4 gap-3 w-full">
            <h2 class="text-lg"><%= t('.create_relationship') %></h2>
            <div class="flex flex-col items-center pt-4 gap-3">
                <button class="btn btn-sm bg-neutral text-black" onclick="without_code_modal.showModal()"><%= t('.without_code') %></button>
                <%= render "without_code_modal" %>
                <button class="btn btn-sm btn-secondary" onclick="with_code_modal.showModal()"><%= t('.with_code') %></button>
                <%= render "with_code_modal", relationship: @relationship %>
            </div>
        </div>
    </div>
</div>