<h2><%= t('.title') %></h2>
<h2><%= t('.create_relationship') %></h2>
<div>
    <p><%= t('.with_code') %></p>
    <%= form_with model: @relationship, url: relationships_path do |f| %>
        <%= render 'shared/error_message' , object: f.object %>
        <%= f.text_field :user_id, placeholder: t('.partner_userid'), class: "input input-bordered w-full max-w-xs" %>
        <%= f.text_field :relationship_code, placeholder: t('activerecord.attributes.user.relationship_code'), class: "input input-bordered w-full max-w-xs" %>
        <%= f.submit t('helpers.submit.register'), class: "btn" %>
    <% end %>
    <p><%= t('.without_code') %></p>
    <div class="flex flex-col items-center">
        <%= form_with model: current_user, url: relationships_relationship_code_path, data: { turbo: false } do |f| %>
            <%= render 'shared/error_message' , object: f.object %>
            <%= f.label :user_id %>
            <%= f.text_field :user_id, placeholder: t('.placeholder_userid'), class: "input input-bordered w-full max-w-xs" %>
            <p>ユーザーIDは自由に変更できます。</p>
            <% if current_user.related? %>
                <div class="join">
                    <%= f.radio_button :role, :monitor, aria: { label: t('helpers.label.monitor') }, checked: true, class: "join-item btn", disabled: true %>
                    <%= f.radio_button :role, :monitored, aria: { label: t('helpers.label.monitored') }, class: "join-item btn", disabled: true %>
                </div>
                <%= f.hidden_field :role, value: current_user.role %>
                <p><%= t('.information_of_change_role') %></p>
            <% else %>
                <div class="join">
                    <%= f.radio_button :role, :monitor, aria: { label: t('helpers.label.monitor') }, checked: true, class: "join-item btn" %>
                    <%= f.radio_button :role, :monitored, aria: { label: t('helpers.label.monitored') }, class: "join-item btn" %>
                </div>
            <% end %>
            <%= f.submit t('helpers.submit.create'), class: "btn" %>
        <% end %>
    </div>
</div>
<h2><%= t('.delete_relationship') %></h2>
<div>
    <% if current_user.related? %>
        <% if current_user.monitor? %>
            <%= link_to @monitored_user.name, relationship_path(current_user.relationship), data: { turbo_method: :delete, turbo_confirm: @monitored_user.name + t('helpers.message.disengage_confirm')}, class: "btn" %>
        <% else %>
            <% @monitor_users.each do |user| %>
                <%= link_to user.name, relationship_path(user.relationship), data: { turbo_method: :delete, turbo_confirm: user.name + t('helpers.message.disengage_confirm')}, class: "btn" %>
            <% end %>
        <% end %>
    <% else %>
        <p><%= t(".no_relationship") %></p>
    <% end %>
</div>
