<div id="<%= dom_id user %>" class="flex flex-col items-center gap-2">
  <p>
    <strong><%= t('activerecord.attributes.user.name') %>:</strong>
    <%= user.name %>
  </p>
  <% if user.crypted_password %>
    <p>
      <strong><%= t('activerecord.attributes.user.email') %>:</strong>
      <%= user.email %>
    </p>
  <% end %>
</div>
