<div id="<%= dom_id user %>">
  <p>
    <strong><%= t('activerecord.attributes.user.user_id') %>:</strong>
    <%= user.user_id %>
  </p>
  <p>
    <strong><%= t('activerecord.attributes.user.name') %>:</strong>
    <%= user.name %>
  </p>
  <p>
    <strong><%= t('activerecord.attributes.user.email') %>:</strong>
    <%= user.email %>
  </p>
</div>
