<div class="card card-compact bg-base-200 shadow-xl mx-auto max-w-md">
  <div class="flex p-4">
    <h2 class="card-title">
      <%= l record.created_at, format: :time %>
    </h2>
    <% if current_user.monitored? %>
      <%= link_to t('helpers.submit.delete'), record_path(record), data: { turbo_method: :delete, turbo_confirm: t('activerecord.models.record') + t('helpers.message.delete_confirm')}, class: "btn btn-sm ml-auto" %>
    <% end %>
<!--    <div class="btn btn-sm"><%= t('.hide_stamps') %></div> -->
  </div>
  <div id="<%= dom_id record %>" class="relative">
    <%= image_tag record.meal_image.variant(resize: 399),  class: "w-full" %>
    <div id="stamps-<%= dom_id record %>" class="absolute inset-0 grid grid-cols-8 grid-rows-8">
      <% record.stamped_records.order(:created_at).limit(64).each do |stamped_record| %>
        <%= render "stamped_records/stamp", stamp: stamped_record.stamp %>
      <% end %>
    </div>
  </div>
  <div class="card-body">
    <div class="card-actions place-content-end">
      <%= render 'stamped_records/stamps_table', stamps: stamps, record: record %>
      <% if current_user.monitor? %>
        <%= render 'stamped_records/form', stamps: stamps, record: record %>
      <% end %>
      <button class="btn btn-sm btn-accent mr-auto" onclick="comment_modal_<%= dom_id record %>.showModal()"><%= t('activerecord.models.comment') %></button>
    </div>
  </div>
</div>

<%= render 'comments/comment_modal', comment: comment, record: record %>

