<% title t('.title') %>
<div class="flex flex-col gap-2">
  <% if current_user.guest %>
    <div>
      <div role="tablist" class="tabs tabs-lifted tabs-lg">
        <% if current_user.monitor? %>
          <%= link_to "監視される側", '/guest/change_role', data: { turbo_method: :post }, role:"tab", class: "tab bg-base-100" %>
          <div role="tab", class="tab tab-active text-black [--tab-bg:orange]">監視側</div>
        <% else %>
          <div role="tab", class="tab tab-active text-black [--tab-bg:orange]">監視される側</div>
          <%= link_to "監視する側", '/guest/change_role', data: { turbo_method: :post }, role:"tab", class: "tab bg-base-100" %>
        <% end %>
      </div>
      <div class="text-center bg-orange-100 text-lg text-red-600 font-bold">
        <%= @message %>
      </div>
    </div>
  <% else %>
    <div class="text-center bg-orange-100 text-lg text-red-600 font-bold">
      <%= @message %>
    </div>
  <% end %>
  <div>
    <%= week_calendar(number_of_weeks: 1, events: @records, attribute: :created_at,) do |date ,records| %>
      <% records.each do |record| %>
        <%= render record, comment: @comment, stamps: @stamps %>
      <% end %>
    <% end %>
  </div>
</div>
<% if current_user.monitored? %>
  <div class="fixed bottom-24 right-10">
    <button class="btn btn-accent text-xl font-bold" onclick="new_record_modal.showModal()"><%= t('.create_record') %></button>
    <%= render "new_modal", record: @record %>
  </div>
<% end %>
<% if current_user.guest %>
  <div class="fixed bottom-10 right-10">
    <%= link_to "ゲストログイン（お試し）を終了して新規登録する！", guest_logout_path, data: { turbo_method: :delete }, class:"btn btn-secondary text-xl font-bold" %>
  </div>
<% elsif current_user.related? == false %>
  <%= render "no_related_modal" %>
  <div class="fixed bottom-10 right-10">
    <%= link_to "連携する！", relationships_menu_path, class:"btn btn-secondary text-xl font-bold" %>
  </div>
<% end %>
