<div class="text-center bg-white text-lg text-red-600 font-bold py-2">
  <%= @message %>
</div>
<div>
  <% if current_user.monitored? %>
    <%= link_to "記録する！", new_record_path, class: "btn" %>
  <% end %>
</div>
<div>
  <%= week_calendar(number_of_weeks: 1, events: @records, attribute: :created_at,) do |date ,records| %>
    <%= date %>
    <% records.each do |record| %>
      <%= render record, comment: @comment %>
    <% end %>
  <% end %>
</div>
