<div class="text-center bg-white text-lg text-red-600 font-bold py-2">
  <%= @message %>
</div>
<% if current_user.monitored? %>
  <div class="fixed bottom-8 right-8">
    <%= link_to t('.create_record'), new_record_path, class: "btn" %>
  </div>
<% end %>
<div>
  <%= week_calendar(number_of_weeks: 1, events: @records, attribute: :created_at,) do |date ,records| %>
    <%= date %>
    <% records.each do |record| %>
      <%= render record, comment: @comment, stamps: @stamps %>
    <% end %>
  <% end %>
</div>
