<div class="simple-calendar">
  <div class="calendar-heading flex flex-col items-center justify-center">
    <span class="calendar-title font-bold">
      <%= start_date.year.to_s + t('datetime.prompts.year') %> <%= t('date.month_names')[start_date.month] %>
    </span>

    <nav>
      <%= link_to t('simple_calendar.today', default: '今日へ戻る'), calendar.url_for_today_view, class: "btn btn-xs" %>
    </nav>
  </div>

  <div role="tablist" class="tabs tabs-lifted grid-cols-9 ">
    <% date_range.each_slice(7) do |week| %>
      <% has_today = week.include?(Date.today) %>
      <div class="text-center mb-2">
        <%= link_to t('simple_calendar.previous', default: '＜'), calendar.url_for_previous_view, class: "btn btn-xs" %>
      </div>
      <% week.each_with_index do |day,index| %>
        <% checked = (day == Date.today) || (!has_today && index == 3) %>
        <input type="radio" name="my_tabs_2" role="tab" class="tab row-start-auto" aria-label="<%= day.day %>" <%= 'checked' if checked %> />
        <div role="tabpanel" class="tab-content bg-base-100 border-base-300 rounded-box p-6">
          <div class="flex flex-wrap gap-4">
            <% instance_exec(nil, calendar.sorted_events_for(day), &passed_block) %>
          </div>
        </div>
      <% end %>
      <div class="text-center mb-2">
        <%= link_to t('simple_calendar.next', default: '＞'), calendar.url_for_next_view, class: "btn  btn-xs" %>
      </div>
    <% end %>
  </div>